:root {
  --primary: #3aa23c;
  --secondary: #226423;
  --padding: 15px;
  --verdeescuro : #226423;
  --cinza-claro: #dedede;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}
